/** Style sheet. */

* {
	font-family:		'Segoe UI', Roboto, Arial, sans-serif;
}

div[id="sidebar"] {
	width:				15%;
	height:				100%;
	position:			fixed;
	z-index: 			1;
	top:				5%;
	left:				0;
	text-align:			left;
    background-color:	#bbaaff;
	color:				#ffffff;
	font-size:			1em;
}

img[id="selfimage"] {
	max-width:			12em;
	display:			block;
	margin-left:		auto;
	margin-right:		auto;
	border-radius:		50%;
	border-style:		solid;
	border-color:		#000000;
	border-width:		2;
}

div[id="sidebar"]>img[id="selfimage"] {
	display:			block;
	margin-top:			4em;
	width:				70%;
}
div[id="content"]>img[id="selfimage"] {
	display:			none;
	margin-top:			1em;
	margin-bottom:		1em;
	margin-left:		1em;
	width:				11em;
}

div[id="topbar"] {
	width:				100%;
	height:				5%;
	position:			fixed;
	z-index: 			2;
	top:				0;
	left:				0;
	text-align:			left;
    background-color:	#000000;
	color:				#ffffff;
	font-size:			1em;
}

div[id="main-box"] {
	width:				83%;
	overflow-y:			scroll;
	position:			fixed;
	top:				5%;
	height:				95%;
	left:				17%;
}

div[id="content"] {
	width:				85%;
	max-width: 			50em;
	text-align:			left;
	color:				#000000;
	padding-top:		3em;
	padding-bottom:		1em;
	padding-left:		1em;
	padding-right:		2em;
}

div[id="header"] {
	color:				#000000;
	font-weight:		bold;
	font-size:			3.4em;
	padding-bottom:		0.25em;
}

div[id="subheader"] {
	color:				#000000;
	font-weight:		bold;
	font-size:			1.5em;
	padding-bottom: 	0.4em;
}

div[class="paragraph"] {
	color:				#000000;
	font-weight:		normal;
	font-size:			1.1em;
}

div[class="publication"] {
	color:				#000000;
	font-weight:		normal;
	font-size:			1.1em;
	padding-left:		3em;
	text-indent:		-3em;
}

a {
	color:				#7755bb;
	text-decoration:	none;
}
a:hover{
	text-decoration:	underline;
}

@media only screen and (max-device-width: 500px) {
	/** Larger font. */
	div {
		font-family:		'Segoe UI', Roboto, Arial, sans-serif;
		font-size:			1.3em;
	}
	/** Smaller top bar. */
	div[id="sidebar"] {
		top:			5%;
		width:			10%;
	}
	div[id="topbar"] { height:			5%; }
	div[id="main-box"] {
		top:			3%;
		left:			12%;
		height:			95%;
	}
	
	div[id="content"] { width:			90%; }
	div[id="sidebar"]>img[id="selfimage"] { display:	none; }
	div[id="content"]>img[id="selfimage"] { display:	block; }
}